.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    border-radius: 10px;
    border-color: red;


}

.grid-container>div {
    padding: 2em;

}


#one {
    border: 1px solid grey;
    border-radius: 20px;
    border-style: ridge;
    justify-content: center;
    box-shadow: 2px 2px #888888
}

#sub_grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    grid-gap: 20px;



}

p {
    text-align: center;
    font-size: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}